.subscription {
  background-color: #2ab3b1;
  padding: 2.5rem;
  border-radius: 0 0 0 8px;
}

@media screen and (max-width: 635px) {
  .subscription {
    padding: 1.5rem;
    border-radius: 0;
  }
}
