.lead__subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.166;
  color: #C0DF33;
  margin-top: 1.5rem;
  margin-bottom: 0.6875rem;
}


@media screen and (max-width: 635px) {
  .lead__subtitle {
    font-size: 0.93em;
    line-height: 1.25;
  }
}